<header class="masthead">
	<h1 class="masthead-heading">Tweetful</h1>
	<p class="masthead-intro">Making the Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
	<section class="info">
		<header>
			<h2>Peter Lonestar</h2>
			<p>Founder</p>
		</header>
		<p>
			Maecnenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper
		</p>
	</section>

	<section class="info">
		<header>
			<h2>Bill Billerson</h2>
			<p>CFO</p>
		</header>
		<p>
			Cros mattis consectetur purus sit amet fermentum. Donec sed odio dui. Sed posuere consecteur est at lobortis.
		</p>
	</section>

	<section class="info">
		<header>
			<h2>You!</h2>
			<p>CTO</p>
		</header>
		<p>
			Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac
		</p>
	</section>
</div>

<footer>
	<p>Contact us: <span>admin@tweetful.io</span></p>
</footer>